#{extends 'main.html' /}
#{set title:'Donation Request' /} 

<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> Donation </a> </header>
  <div class="right menu">
    <a class="active item" href="/donation"> Donate</a>
    <a class="item" href="/donation/report">  Report</a>
    <a class="item" href="/donation/special">  Android View</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>    

<section class="ui raised segment">

	<div class="ui grid">
	  <div class="eight wide column">#{include "segments/donate.html" /} </div>
	  <div class="eight wide column">#{include "segments/report.html" /}</div>
	  
	</div>
	
  <div class="ui  divider"></div>

  <div class="ui teal progress"  data-percent="${progress}" id="mainprogress">
    <div class="bar"> </div>
  </div>  

</section>