#{extends 'main.html' /}
#{set title:'Special' /} 

<nav class="ui inverted menu">
  <header class="header item"> <a href="/"> Donation </a> </header>
  <div class="right menu">
    <a class="item" href="/donation"> Donate</a>
    <a class="item" href="/donation/report">  Report</a>
    <a class="active item" href="/donation/special"> Android View</a>
    <a class="item" href="/logout">  Logout</a>
  </div>
</nav>  

<section class="ui raised segment">

<div class="ui grid">
  <div class="six wide column">#{include "segments/welcome.html" /}</div>
  
  <div class="four wide column">#{include "segments/login.html" /}</div>
  
  <div class="four wide column">#{include "segments/signup.html" /}</div>
  
  <div class="four wide column">#{include "segments/donate.html" /}</div>
  
  <div class="four wide column">#{include "segments/report.html" /}</div>
</div>




</section>
